# DataFrame for countries and counts from review 
> Creating a Dataframe to extract the number of counts for countries

In [1]:
import pandas as pd

In [3]:
df=pd.read_excel("data.xlsx")

In [12]:
countries = df.country.value_counts().index.values
counts = df.country.value_counts().values

In [13]:
df_counts = pd.DataFrame({"country": countries, "counts": counts})
df_counts

           country  counts
0   United Kingdom      44
1          Germany      43
2          unknown      13
3      Netherlands       7
4    United States       5
5   Czech Republic       3
6           Canada       2
7            Italy       2
8          Austria       2
9        Gibraltar       1
10       Australia       1
11           China       1
12         Finland       1
13         Ireland       1
14         Croatia       1
15          France       1

In [15]:
df = df[df.score!="na"].copy()

In [17]:
df_grouped = df.groupby(by="country").agg({"score": "mean"})

In [20]:
df_counts.merge(df_grouped, on="country").to_csv("country_counts_score.csv", index=False)